<div>
    <h2 id="page-heading">
        <span jhiTranslate="warehouseApp.paymentFournisseur.home.title">Payment Fournisseurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-fournisseur" [routerLink]="['/payment-fournisseur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warehouseApp.paymentFournisseur.home.createLabel">
            Create a new Payment Fournisseur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paymentFournisseurs?.length === 0">
        <span jhiTranslate="warehouseApp.paymentFournisseur.home.notFound">No paymentFournisseurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paymentFournisseurs && paymentFournisseurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="netAmount"><span jhiTranslate="warehouseApp.paymentFournisseur.netAmount">Net Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paidAmount"><span jhiTranslate="warehouseApp.paymentFournisseur.paidAmount">Paid Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="restToPay"><span jhiTranslate="warehouseApp.paymentFournisseur.restToPay">Rest To Pay</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="warehouseApp.paymentFournisseur.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="warehouseApp.paymentFournisseur.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commande.id"><span jhiTranslate="warehouseApp.paymentFournisseur.commande">Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentMode.id"><span jhiTranslate="warehouseApp.paymentFournisseur.paymentMode">Payment Mode</span> <fa-icon icon="sort"></fa-icon></th>

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paymentFournisseur of paymentFournisseurs ;trackBy: trackId">
                    <td><a [routerLink]="['/payment-fournisseur', paymentFournisseur.id, 'view']">{{ paymentFournisseur.id }}</a></td>
                    <td>{{ paymentFournisseur.netAmount }}</td>
                    <td>{{ paymentFournisseur.paidAmount }}</td>
                    <td>{{ paymentFournisseur.restToPay }}</td>
                    <td>{{ paymentFournisseur.createdAt | date:'medium' }}</td>
                    <td>{{ paymentFournisseur.updatedAt | date:'medium' }}</td>
                    <td>
                        <div *ngIf="paymentFournisseur.commande">
                            <a [routerLink]="['/commande', paymentFournisseur.commande?.id, 'view']" >{{ paymentFournisseur.commande?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="paymentFournisseur.paymentMode">
                            <a [routerLink]="['/payment-mode', paymentFournisseur.paymentMode?.id, 'view']" >{{ paymentFournisseur.paymentMode?.id }}</a>
                        </div>
                    </td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payment-fournisseur', paymentFournisseur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/payment-fournisseur', paymentFournisseur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paymentFournisseur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="paymentFournisseurs && paymentFournisseurs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
