<div>
    <h2 id="page-heading">
        <span jhiTranslate="warehouseApp.paymentMode.home.title">Payment Modes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-mode" [routerLink]="['/payment-mode/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="warehouseApp.paymentMode.home.createLabel">
            Create a new Payment Mode
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paymentModes?.length === 0">
        <span jhiTranslate="warehouseApp.paymentMode.home.notFound">No paymentModes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paymentModes && paymentModes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="warehouseApp.paymentMode.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="warehouseApp.paymentMode.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="group"><span jhiTranslate="warehouseApp.paymentMode.group">Group</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let paymentMode of paymentModes ;trackBy: trackId">
                    <td><a [routerLink]="['/payment-mode', paymentMode.id, 'view']">{{ paymentMode.id }}</a></td>
                    <td>{{ paymentMode.libelle }}</td>
                    <td>{{ paymentMode.code }}</td>
                    <td jhiTranslate="{{ 'warehouseApp.PaymentGroup.' + paymentMode.group }}">{{ paymentMode.group }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payment-mode', paymentMode.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/payment-mode', paymentMode.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paymentMode)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
