<div>
    <h2 id="page-heading">
        <span jhiTranslate="warehouseApp.produit.home.title">Produits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produit"
                [routerLink]="['/produit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="warehouseApp.produit.home.createLabel">
                Create a new Produit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
        <span jhiTranslate="warehouseApp.produit.home.notFound">No produits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="produits && produits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th>#</th>


                <th scope="col" jhiSortBy="libelle"><span jhiTranslate="warehouseApp.produit.libelle">Libelle</span>

                </th>

                <th scope="col" jhiSortBy="quantity" style="text-align:right;"><span
                    jhiTranslate="warehouseApp.produit.quantity">Quantity</span>

                </th>

                <th scope="col" style="text-align:right;"><span jhiTranslate="warehouseApp.produit.costAmount">Prix achat </span>
                </th>
                <th scope="col" style="text-align:right;"><span jhiTranslate="warehouseApp.produit.regularUnitPrice">Regular Unit Price</span>

                </th>
                <th scope="col" style="text-align:right;"><span jhiTranslate="warehouseApp.produit.itemQty">Item
                            Qty</span>

                </th>

                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produit of produits; let index = index ;trackBy: trackId">
                <td>{{index+1}}</td>
                <td>{{ produit.libelle }}</td>
                <td style="text-align:right;">{{ produit.quantity |number }}</td>
                <td style="text-align:right;">{{ produit.costAmount |number }}</td>
                <td style="text-align:right;">{{ produit.regularUnitPrice |number }}</td>
                <td style="text-align:right;"><span *ngIf="produit.typeProduit===package">{{ produit.itemQty |number }}</span>  </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit" [routerLink]="['/produit', produit.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>

                        </button>

                        <button *ngIf="produit.typeProduit===package" type="submit" [routerLink]="['/produit', produit.id, 'edit']"
                                class="btn btn-primary btn-sm"  data-toggle="tooltip" data-placement="left" title="Tooltip on bottom">
                            <fa-icon icon="pencil-alt"></fa-icon>

                        </button>
                        <button *ngIf="produit.typeProduit===detail" type="submit" (click)="editDetail(produit)"
                                class="btn btn-primary btn-sm"  data-toggle="tooltip" data-placement="left" title="Tooltip on bottom">
                            <fa-icon icon="pencil-alt"></fa-icon>

                        </button>
                        <button *ngIf="produit.typeProduit===package && produit.produits?.length==0" type="submit"  (click)="addDetail(produit)"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="faPlusCircle"></fa-icon>
                        </button>
                        <button *ngIf="produit.typeProduit===package" type="button" (click)="decondition(produit)"
                                class="btn btn-secondary btn-sm">
                            <fa-icon [icon]="faCut" ></fa-icon>
                        </button>
                        <button type="submit" (click)="addImage(produit)" class="btn btn-success btn-sm">
                           <fa-icon [icon]="faImage" ></fa-icon>
                           <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.addimage">Add image</span>-->
                        </button>

                        <button type="submit" (click)="delete(produit)" class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>

                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="produits && produits.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
